<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizService" class="ru.otus.spring.course.service.QuizServiceImpl">
        <constructor-arg index="0" ref="csvQuestionDAO"/>
        <constructor-arg index="1" ref="consoleService"/>
    </bean>

    <bean id="csvQuestionDAO" class="ru.otus.spring.course.dao.CSVQuestionDAOImpl">
        <constructor-arg value="questions.csv"/>
    </bean>

    <bean id="consoleService" class="ru.otus.spring.course.service.ConsoleServiceImpl"/>

</beans>